@tailwind base;
@tailwind components;
@tailwind utilities;

.lds-dual-ring {
  display: inline-block;
  width: 500px;
  height: 500px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 400px;
  height: 400px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
